/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: rgb(145, 127, 179);
}

#landing {
	text-align: center;
	min-height: 100vh;
	background-color: rgb(76, 76, 109);
/*	background-image: url(https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg);*/
}

.name {
	padding: 20px;
}

.title {
	padding: 5px;
}

#about {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	min-height: 100vh
}

.card {
	padding: 20px;
	height: 100vh;
	background-color: rgb(76, 76, 109);
}

#projects {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 100vh
}

#tool {
	text-align: center;
	padding-top: 20px;
	min-height: 100vh
}

.tools {
	text-align: center;
}

.lang {
	display: inline-block;
	padding-bottom: 5px;
    width:  100px;
    height: 100px;
    background-size: cover;
}

.frame {
	display: inline-block;
	padding-bottom: 5px;
    width:  100px;
    height: 100px;
    background-size: cover;
}

.app {
	display: inline-block;
	padding-bottom: 5px;
    width:  100px;
    height: 100px;
    background-size: cover;
}

.p-title {
	display:inline-block;
	background-color: black;
	background-size: auto;
	color: white;
}

#contact_us {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
	min-height: 100vh
}

.contact {
	background-color: slategrey;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.form-group {
	padding: 10px;
}

.submit {
	margin-bottom: 10px;
}

.last-section {
	text-align: center;
	padding: 30px;
  	border: 1px solid;
  	background-color: rgb(93, 56, 145);
  	color: white;
}